apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  init-db.sql: |
    CREATE TABLE IF NOT EXISTS users (
                                         id BIGSERIAL PRIMARY KEY,
                                         username VARCHAR(255) NOT NULL,
        password VARCHAR(255) NOT NULL,
        name VARCHAR(255),
        birthday DATE,
        role VARCHAR(255)
        );

    CREATE TABLE IF NOT EXISTS account (
                                           id BIGSERIAL PRIMARY KEY,
                                           username VARCHAR(255) NOT NULL,
        currency VARCHAR(10) NOT NULL,
        balance NUMERIC(19, 2) DEFAULT 0.00,
        isexists BOOLEAN NOT NULL
        );
---
# 2. Secret с паролем (можно использовать и environment, но так безопаснее)
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  # echo -n "12345" | base64 → MTIzNDU=
  POSTGRES_PASSWORD: MTIzNDU=

---
# 3. PersistentVolumeClaim (если хочешь сохранять данные между перезапусками)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # Minikube использует dynamic provisioning по умолчанию — этого хватит

---
# 4. Deployment PostgreSQL
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: bankapp
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: init-scripts
          configMap:
            name: postgres-init-scripts

---

apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP