kafka:
  controller:
    replicaCount: 1
  broker:
    replicaCount: 1

  kraft:
    enabled: true

  persistence:
    enabled: true
    size: 1Gi

  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "512Mi"

  listeners:
    client:
      protocol: "PLAINTEXT"
    controller:
      protocol: "PLAINTEXT"

  auth:
    interBrokerProtocol: "PLAINTEXT"

  config:
    # ВСЕ ЗНАЧЕНИЯ — СТРОКИ!
    offsetsTopicReplicationFactor: "1"
    transactionStateLogReplicationFactor: "1"
    autoCreateTopicsEnable: "true"
    defaultReplicationFactor: "1"
    numPartitions: "1"