kafka:
  replicaCount: 2  # Две ноды как требуется
  persistence:
    enabled: true
    size: 8Gi
    storageClass: "standard"
  auth:
    clientProtocol: plaintext
  service:
    type: ClusterIP
  listeners:
    client:
      containerPort: 9092
  config:
    auto.create.topics.enable: true
    delete.topic.enable: true
    offsets.topic.replication.factor: 2
    transaction.state.log.replication.factor: 2
    transaction.state.log.min.isr: 1