# values-dev.yaml

image:
  registry: docker.io
  repository: bitnamilegacy/kafka
  tag: 4.0.0-debian-12-r10

volumePermissions:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/os-shell
    tag: 12-debian-12-r73

controller:
  replicaCount: 1
  persistence:
    enabled: true
    size: 8Gi
    storageClass: "standard"
  auth:
    enabled: false                    # ← отключает генерацию пользователей
    clientProtocol: plaintext
    interBrokerProtocol: plaintext
    controllerProtocol: plaintext
    sasl:
      mechanisms: ""                  # ← явно пусто
      interBrokerMechanism: ""
    jaas:
      clientUsers: [ ]                 # ← пустой список
      clientPasswords: [ ]             # ← без паролей
  listeners:
    client:
      protocol: PLAINTEXT
      port: 9092
    controller:
      protocol: PLAINTEXT
      port: 9093
    interbroker:
      protocol: PLAINTEXT
      port: 9094
  config:
    auto.create.topics.enable: "true"
    delete.topic.enable: "true"
    offsets.topic.replication.factor: "2"
    transaction.state.log.replication.factor: "2"
    transaction.state.log.min.isr: "1"
    log.retention.hours: "168"
    num.partitions: "3"
    default.replication.factor: "2"
  service:
    type: ClusterIP

zookeeper:
  enabled: false

metrics:
  kafka:
    enabled: true
    image:
      registry: docker.io
      repository: bitnamilegacy/kafka-exporter
      tag: 1.7.0-debian-12-r94