kafka:
  controller:
    extraConfig: |
      offsets.topic.replication.factor=1
      transaction.state.log.replication.factor=1
      auto.create.topics.enable=true
    replicaCount: 1
  broker:
    extraConfig: |
      offsets.topic.replication.factor=1
      transaction.state.log.replication.factor=1
      auto.create.topics.enable=true
    replicaCount: 1
  resources:
    requests:
      memory: "512Mi"
      cpu: "1000m"
    limits:
      memory: "2Gi"
  enabled: true
  replicaCount: 1
  image:
    registry: docker.io
    repository: bitnamilegacy/kafka
    tag: "4.0.0-debian-12-r10"
    pullPolicy: IfNotPresent
  auth:
    interBrokerProtocol: "plaintext"
  listeners:
    client:
      protocol: "PLAINTEXT"
  kraft:
    enabled: true
  persistence:
    enabled: true
    size: 1Gi