# kafka-values.yaml
global:
  storageClass: "standard"  # используйте ваш StorageClass, если нужен (например, 'standard' в GKE)

replicaCount: 2  # или 1 для теста

# Включаем persistence
persistence:
  enabled: true
  size: 2Gi  # подстройте под нужды
  resources:
    requests:
      memory: "512Mi"
      cpu: "200m"
    limits:
      memory: "1Gi"
      cpu: "500m"
defaultInitContainers:
  prepareConfig:
    resources:
      requests:
        memory: "64Mi"
        cpu: "50m"
      limits:
        memory: "128Mi"
        cpu: "100m"
# Настройка внешнего доступа для других сервисов в кластере
advertisedListeners:
  - PLAINTEXT://$(MY_POD_NAME).kafka-headless.kafka.svc.cluster.local:9092

# Автоматическое создание топиков (опционально, но полезно для тестов)
topics:
  - name: notifications-topic
    partitions: 3
    replicationFactor: 2
  - name: exchange-topic
    partitions: 3
    replicationFactor: 2
auth:
  clientProtocol: plaintext  # ← ВАЖНО! Отключает SASL
  interBrokerProtocol: plaintext
# Настройки для отказоустойчивости
config: |
  auto.create.topics.enable=false
  default.replication.factor=2
  min.insync.replicas=1
  offsets.topic.replication.factor=2
  transaction.state.log.replication.factor=2
  transaction.state.log.min.isr=1