server:
  port: 8083

spring:
  config:
    import: configserver:http://localhost:8888
  cloud:
    config:
      uri: configserver:http://localhost:8888
logging:
  level:
    org.springframework.web.reactive.function.client.ExchangeFunctions: DEBUG
    org.springframework.web.reactive.function.client.WebClient: DEBUG