server:
  port: 8083
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: front-service
      env: dev
spring:
  cloud:
    config:
      enabled: false
  kafka:
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.use.type.headers: false
        spring.json.add.type.headers: false
eureka:
  client:
    enabled: false
