server:
  port: 8081
spring:
  config:
    import: configserver:http://localhost:8888
  cloud:
    config:
      uri: configserver:http://localhost:8888
  data:
    redis:
      host: redis
      port: 6379
    session:
      store-type: redis
      timeout: 60m
logging:
  level:
    org.springframework.web.reactive.function.client.ExchangeFunctions: DEBUG
    org.springframework.web.reactive.function.client.WebClient: DEBUG
