apiVersion: v1
kind: ConfigMap
metadata:
  name: bankapp-config
  namespace: default
data:
  # OAuth2 и Keycloak
  SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI: http://keycloak-service:8080/realms/bankapp
  SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_USER_NAME_ATTRIBUTE: preferred_username
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_ID: bankapp
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_SCOPE: openid,username
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_BANKAPP_PROVIDER: keycloak
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_BANKAPP_AUTHORIZATION_GRANT_TYPE: client_credentials
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_BANKAPP_SCOPE: profile
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_BANKAPP_CLIENT_AUTHENTICATION_METHOD: client_secret_post
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak-service:8080/realms/bankapp
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_PROVIDER_KEYCLOAK_ISSUER_URI: http://keycloak-service:8080/realms/bankapp
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_PROVIDER_KEYCLOAK_USER_NAME_ATTRIBUTE: username
  OAUTH2_CLIENT_REGISTRATION_ID: bankapp

  #postgress
  SPRING_R2DBC_URL: r2dbc:postgresql://postgres:5432/bankapp
  SPRING_R2DBC_USERNAME: postgres
  SPRING_R2DBC_POOL_VALIDATION_QUERY: SELECT 1
  SPRING_R2DBC_POOL_IDLE_TIMEOUT: 30s
  SPRING_R2DBC_POOL_MAX_LIFE_TIME: 5m
  SPRING_R2DBC_POOL_MAX_SIZE: "10"

  SPRING_THYMELEAF_ENABLED: "true"


  #redis
  SPRING_DATA_REDIS_HOST: redis
  SPRING_DATA_REDIS_PORT: "6379"
  SPRING_SESSION_TIMEOUT: 30m
  # Service Discovery через DNS Kubernetes
  EUREKA_INSTANCE_HOSTNAME: ${HOSTNAME}
  SPRING_PROFILES_ACTIVE: k8s
  SPRING_CLOUD_CONFIG_ENABLED: "false"
  EUREKA_CLIENT_ENABLED: "false"

  # URL для обращения к другим сервисам через K8s Service
  ACCOUNTS_SERVICE_URL: http://account-service:8081
  CASH_SERVICE_URL: http://cash-service:8085
  TRANSFER_SERVICE_URL: http://transfer-service:8089
  EXCHANGE_SERVICE_URL: http://exchange-service:8088
  BLOCKER_SERVICE_URL: http://blocker-service:8086
  NOTIFICATIONS_SERVICE_URL: http://notifications-service:8087
  EXCHANGE_GENERATOR_SERVICE_URL: http://exchangegenerator-service:8084

  # Gateway URL (для внешних вызовов)
  API_GATEWAY_URL: http://bankapp.internal

  # Отключить DEBUG логи для WebClient
  LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB_REACTIVE_FUNCTION_CLIENT_EXCHANGEFUNCTIONS: WARN

  # ИЛИ ДЛЯ ВСЕГО WEB-REACTIVE ПАКЕТА
  LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB_REACTIVE: WARN