{{- if .Values.infrastructure.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress

controller:
  config:
    allow-snippet-annotations: "true"
metadata:
  name: bankapp-ingress
  namespace: {{ .Values.global.namespace }}
  annotations:
  # CORS настройки
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "https://bankapp.local,http://bankapp.local"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,X-User-Name"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-max-age: "1728000"

    nginx.ingress.kubernetes.io/proxy-cookie-domain: "{{ .Values.global.namespace }}.local $host"
    nginx.ingress.kubernetes.io/proxy-cookie-path: "/ /"
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/proxy-set-headers: "X-User-Name: $http_x_user_name"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_pass_request_headers on;
      proxy_set_header X-Real-IP $remote_addr;
spec:
  rules:
    - host: bankapp.internal
      http:
        paths:
          # Account Service routes
          - path: /api/signup
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /api/getMainPage
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /api/getUser
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /api/editUserAccounts
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /api/editPassword
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /api/ToAccountServiceTransfer
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /api/transferAccountService
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081
          - path: /default-ui.css(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-account-service
                port:
                  number: 8081

          # ExchangeGenerator Service routes
          - path: /api/exchange
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-exchangegenerator-service
                port:
                  number: 8084 # Убедитесь, что порт сервиса правильный

          # Cash Service routes
          - path: /api/cash
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-cash-service
                port:
                  number: 8085 # Убедитесь, что порт сервиса правильный

          # Blocker Service routes
          - path: /api/blocker
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-blocker-service
                port:
                  number: 8086 # Убедитесь, что порт сервиса правильный
          # Notifications Service routes
          - path: /api/notifications
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-notification-service
                port:
                  number: 8087 # Убедитесь, что порт сервиса правильный
          - path: /api/notificationsSet
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-notification-service
                port:
                  number: 8087 # Убедитесь, что порт сервиса правильный

          # Transfer Service routes
          - path: /api/transfer
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-transfer-service
                port:
                  number: 8089 # Убедитесь, что порт сервиса правильный
          # Transfer Service routes
          - path: /api/excangeservice
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-exchange-service
                port:
                  number: 8088 # Убедитесь, что порт сервиса правильный


    - host: bankapp.local
      http:
        paths:

          # Front Service routes
          - path: /login
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /test
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /testTM
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /main
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /mainTM
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /logout
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /signup
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /bankapp
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /editUserAccounts(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /editPassword(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /exchange
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /cash(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /notifications(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: /transfer(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083
          - path: / # root path
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-front-service
                port:
                  number: 8083

          # Keycloak Service routes
          - path: /auth(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: keycloak
                port:
                  number: 8082
  {{- end }}