{{- if .Values.infrastructure.keycloak.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: {{ .Values.global.namespace }}
  labels:
    app: keycloak
spec:
  selector:
    app: keycloak
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30082
  type: NodePort

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: {{ .Values.global.namespace }}
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:latest
          ports:
            - containerPort: 8080
          env:
            - name: KEYCLOAK_ADMIN
              value: "admin"
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: "admin"
            - name: KEYCLOAK_FRONTEND_URL
              value: "http://localhost:8082"
            - name: KEYCLOAK_HOSTNAME
              value: "keycloak"
          args:
            - "start-dev"
            - "-Dkeycloak.profile.feature.scripts=enabled"
            - "-Dkeycloak.profile.feature.upload_scripts=enabled"
          volumeMounts:
            - name: keycloak-data
              mountPath: /var/lib/keycloak/data
            - name: keycloak-import-volume
              mountPath: /opt/keycloak/data/import
              readOnly: true

      volumes:
        - name: keycloak-data
          persistentVolumeClaim:
            claimName: keycloak-pvc
        - name: keycloak-import-volume
          configMap:
            name: keycloak-import-config

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: keycloak-pvc
  namespace: {{ .Values.global.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-headless
  namespace: {{ .Values.global.namespace }}
  labels:
    app: keycloak
spec:
  selector:
    app: keycloak
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  clusterIP: None
  {{- end }}